.btn-tweet {
  background-color: #78c2f0 !important;
  color: white !important;
  border-radius: 95px !important;
  width: 77px;
  height: 40px;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 20px;
}