.btn-tweet {
  background-color: #78c2f0 !important;
  color: white !important;
  border-radius: 95px !important;
  width: 77px;
  height: 40px;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.btn-homebuttonsrow {
  color: #1da1f2 !important;
  margin-top: -10px;
  height: 40px;
  width: 40px;
  border-radius: 45px !important;
}

.btn-homebuttonsrow:hover {
  background-color: #dfeef7 !important;
  border-radius: 45px !important;
  margin-top: -10px;
}