.icon-margin {
  margin-left: 470px;
  color: #1da1f2;
}

.fontstyle {
  color: #a4a8aa;
  font-weight: 500;
}

.borderstyle {
  border: 0.5px;
}

.fixedhome {
  margin-left: -1px;
  z-index: 1;
  width: 50%;
  position: fixed !important;
}