.searchbox {
  border-color: transparent !important;
  background-color: whitesmoke;
  width: 350px !important;
  height: 50px !important;
  border-radius: 40%;
  box-shadow: none !important;
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
}
