.whatshappeningcard {
  font-size: '1.2rem';
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  z-index: 1;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.btn-whatshappeningbtn {
  height: 100px;
  width: 19rem;
  background-color: whitesmoke !important;
  text-align: left !important;
  padding-top: 0;
}

.whatshappeningimg {
  width: 80px !important;
  height: 80px !important;
  float: right;
  border-radius: 15% !important;
  margin-top: -20px;
}